body {
  overflow-x: hidden; }

.mb-resp {
  margin-bottom: 10px; }

.navbar {
  font-family: 'Raleway', sans-serif; }
  .navbar .nav-item.active {
    border-left: white 3px solid; }
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

#showcase h1 {
  font-family: 'Yeseva One', cursive; }
#showcase p {
  font-family: 'Raleway', sans-serif; }
#showcase a {
  margin-bottom: 60px;
  margin-top: 20px; }
#showcase .btn {
  color: white;
  font-family: 'Raleway', sans-serif; }

.carousel-item {
  height: 450px;
  background-size: cover; }

.carousel-image-1 {
  background: url("/unpublished/img/carousel1.jpg");
  background-position: -300px; }

.carousel-image-2 {
  background: url("/unpublished/img/carousel2.jpg");
  background-position: -250px 0px; }

.carousel-image-3 {
  background: url("/unpublished/img/carousel3.jpg");
  background-position: 0px -190px; }

#home-icons h3 {
  font-family: 'Yeseva One', cursive; }
#home-icons p {
  font-family: 'Raleway', sans-serif; }

#home-heading {
  background: url("/unpublished/img/bedfordshire-medium.jpg");
  position: relative;
  min-height: 250px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  background-position: 0px -1200px; }
  #home-heading h1 {
    font-family: 'Yeseva One', cursive; }
  #home-heading p {
    font-family: 'Raleway', sans-serif; }

#newsletter h1 {
  font-family: 'Yeseva One', cursive; }
#newsletter p {
  font-family: 'Raleway', sans-serif; }
#newsletter form {
  font-family: 'Raleway', sans-serif; }

#home-heading-two {
  background: url("/unpublished/img/bedfordshire-medium.jpg");
  position: relative;
  min-height: 250px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  background-position: 0px -1600px; }
  #home-heading-two h1 {
    font-family: 'Yeseva One', cursive; }
  #home-heading-two p {
    font-family: 'Raleway', sans-serif; }

#about-page-header {
  background: url("/unpublished/img/tarot_reader_bedfordshire.jpg");
  min-height: 250px;
  background-repeat: no-repeat;
  color: white;
  background-position: -970px -500px;
  position: relative; }
  #about-page-header h1 {
    padding-top: 90px;
    font-family: 'Yeseva One', cursive; }
  #about-page-header p {
    font-family: 'Raleway', sans-serif; }

#about h1 {
  font-family: 'Yeseva One', cursive; }
#about p {
  font-family: 'Raleway', sans-serif; }

.about-img {
  margin-top: -50px; }

#services-page-header {
  background: url("/unpublished/img/tarot_reader_bedfordshire.jpg");
  min-height: 250px;
  background-repeat: no-repeat;
  color: white;
  background-position: -970px -500px;
  position: relative; }
  #services-page-header h1 {
    padding-top: 90px;
    font-family: 'Yeseva One', cursive; }
  #services-page-header p {
    font-family: 'Raleway', sans-serif; }

#contact-page-header {
  background: url("/unpublished/img/tarot_reader_bedfordshire.jpg");
  min-height: 250px;
  background-repeat: no-repeat;
  color: white;
  background-position: -970px -500px;
  position: relative; }
  #contact-page-header h1 {
    padding-top: 90px;
    font-family: 'Yeseva One', cursive; }
  #contact-page-header p {
    font-family: 'Raleway', sans-serif; }

#contact h4, #contact h3 {
  font-family: 'Yeseva One', cursive;
  color: #52968a; }
#contact p, #contact form {
  font-family: 'Raleway', sans-serif; }
#contact a {
  color: black; }
#contact a:hover {
  color: #52968a; }

#main-footer {
  color: white; }
  #main-footer h3 {
    font-family: 'Yeseva One', cursive; }
  #main-footer p {
    font-family: 'Raleway', sans-serif; }
  #main-footer h5 {
    font-family: 'Yeseva One', cursive; }
  #main-footer h6 {
    font-family: 'Yeseva One', cursive; }
  #main-footer a {
    color: white;
    font-family: 'Raleway', sans-serif; }

/*# sourceMappingURL=style.css.map */
