$primary: #52968a;
$secondary: white;

body {
    overflow-x: hidden;
}

.mb-resp {
    margin-bottom: 10px;
}

.navbar {

    font-family: 'Raleway', sans-serif;

    .nav-item.active {
        border-left: $secondary 3px solid;
    }

    .nav-link {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#showcase {
    
    h1 {
        font-family: 'Yeseva One', cursive;
    }

    p {
        font-family: 'Raleway', sans-serif;
    }
    
    a {
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .btn {
        color: $secondary;
        font-family: 'Raleway', sans-serif;
    }
}

.carousel-item {
    height: 450px;
    background-size: cover;
}

.carousel-image-1 {
    background: url('/unpublished/img/carousel1.jpg');
    background-position: -300px;
}

.carousel-image-2 {
    background: url('/unpublished/img/carousel2.jpg');
    background-position: -250px 0px;
}

.carousel-image-3 {
    background: url('/unpublished/img/carousel3.jpg');
    background-position: 0px -190px;
}

#home-icons {
    h3 {
        font-family: 'Yeseva One', cursive;
    }

    p {
        font-family: 'Raleway', sans-serif;
    }
}

#home-heading {
    background: url('/unpublished/img/bedfordshire-medium.jpg');
    position: relative;
    min-height: 250px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    background-position: 0px -1200px;

    h1 {
        font-family: 'Yeseva One', cursive;
    }

    p {
        font-family: 'Raleway', sans-serif;
    }
}

#home-heading-two {
    background: url('/unpublished/img/bedfordshire-medium.jpg');
    position: relative;
    min-height: 250px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    background-position: 0px -1600px;

    h1 {
        font-family: 'Yeseva One', cursive;
    }

    p {
        font-family: 'Raleway', sans-serif;
    }
}

#about-page-header {
    background: url('/unpublished/img/tarot_reader_bedfordshire.jpg');
    min-height: 250px;
    background-repeat: no-repeat;
    color: white;
    background-position: -970px -500px;
    position: relative;

    h1 {
        padding-top: 90px;
        font-family: 'Yeseva One', cursive;
    }

    p {
        font-family: 'Raleway', sans-serif;
    }
}

#services-page-header {
    background: url('/unpublished/img/tarot_reader_bedfordshire.jpg');
    min-height: 250px;
    background-repeat: no-repeat;
    color: white;
    background-position: -970px -500px;
    position: relative;

    h1 {
        padding-top: 90px;
        font-family: 'Yeseva One', cursive;
    }

    p {
        font-family: 'Raleway', sans-serif;
    }
}

#contact-page-header {
    background: url('/unpublished/img/tarot_reader_bedfordshire.jpg');
    min-height: 250px;
    background-repeat: no-repeat;
    color: white;
    background-position: -970px -500px;
    position: relative;

    h1 {
        padding-top: 90px;
        font-family: 'Yeseva One', cursive;
    }

    p {
        font-family: 'Raleway', sans-serif;
    }
}

#main-footer {
    
    color: $secondary;

    h3 {
        font-family: 'Yeseva One', cursive;
    }

    p {
        font-family: 'Raleway', sans-serif;
    }

    h5 {
        font-family: 'Yeseva One', cursive;
    }

    h6 {
        font-family: 'Yeseva One', cursive;
    }

    a {
        color: $secondary;
        font-family: 'Raleway', sans-serif;
    }
}